{% extends 'gestion_clinica/base.html' %}

{% block content %}
<div class="row justify-content-center mb-4">
    <div class="col-md-8">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-success text-white py-3">
                <h5 class="m-0 fw-bold">Registrar Nuevo Paciente</h5>
            </div>
            <div class="card-body p-4">
                {% include 'gestion_clinica/_formulario.html' with clase_boton='btn-success' texto_boton='Guardar Paciente' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}